<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SystemName" value="System1" />    <!--in case you backup multiple pc's to the same drive-->
    <add key="SourceDirs" value="C:\MySourceDir\" />    <!-- multiple source dirs can be seperated by a semicolon ';' -->
    <add key="TargetBaseDir" value="D:\MyTargetDir\" /> <!-- one target dir can be setup-->    
  </appSettings>  
</configuration>